In [78]:
import pandas as pd
import numpy as np
from collections import OrderedDict

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_info_columns',1000)

In [79]:
application_test = pd.read_csv('../application_test.csv')
application_train  = pd.read_csv('../application_train.csv')
bureau = pd.read_csv('../bureau.csv')
bureau_balance = pd.read_csv('../bureau_balance.csv')
credit_card_balance = pd.read_csv('../credit_card_balance.csv')
installments_payments = pd.read_csv('../installments_payments.csv')
POS_CASH_balance = pd.read_csv('../POS_CASH_balance.csv')
previous_application = pd.read_csv('../previous_application.csv')

In [80]:
print ('the count of {} is {},approximately {} thousands'.format('application_test',application_test.shape[0],application_test.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('application_train',application_train.shape[0],application_train.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('bureau',bureau.shape[0],bureau.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('bureau_balance',bureau_balance.shape[0],bureau_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('credit_card_balance',credit_card_balance.shape[0],credit_card_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('installments_payments',installments_payments.shape[0],installments_payments.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('POS_CASH_balance',POS_CASH_balance.shape[0],POS_CASH_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('previous_application',previous_application.shape[0],previous_application.shape[0]/1000))

the count of application_test is 48744,approximately 48 thousands
the count of application_train is 307511,approximately 307 thousands
the count of bureau is 1716428,approximately 1716 thousands
the count of bureau_balance is 27299925,approximately 27299 thousands
the count of credit_card_balance is 3840312,approximately 3840 thousands
the count of installments_payments is 13605401,approximately 13605 thousands
the count of POS_CASH_balance is 10001358,approximately 10001 thousands
the count of previous_application is 1670214,approximately 1670 thousands

### remain the meta data for train and test

In [81]:
train_target_sequence = application_train[['SK_ID_CURR','TARGET']]
test_sequence = application_test['SK_ID_CURR']
application_train = application_train.drop(['TARGET'], axis=1)

In [82]:
application_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### put the test and train together

In [83]:
application_all = application_train.append(application_test)
print ('all dataset counts is {}'.format(application_all.shape[0]))

all dataset counts is 356255

### do some regular processes for the data

1. drop the the columns with more than 30 percent NA values
2. drop the unnecessary columns
3. fillNa by when int/float then mean, when object then mode

In [84]:
def miss_ratio_dict(df):
    """
    calculate the miss data ratio
    :param df:DataFrame
    :return: a dict which the columns and its miss precentage
    """
    columns_NA_ratio = OrderedDict()
    for columns in df.columns:
        df_na = df[columns].isnull()
        na_ratio =float(df_na[df_na==True].shape[0])/float(df_na.shape[0])
        columns_NA_ratio[columns] = round(na_ratio*100,2)
    return columns_NA_ratio

In [85]:
def fillna_values_dict(df):
    """
    get the fillna values for each columns
    if dtype is numeric,then fillna values is mean
    if dtype is object,then fillna value is mode
    :param df:
    :return:dict,k is columns,v is fillna value
    """
    columns_NA_fill = OrderedDict()
    for columns in df.columns:
        dtypes = df[columns].dtype.name
        if 'int' in dtypes or 'float' in dtypes:
            columns_NA_fill[columns] = df[columns].mean()
            continue
        if dtypes == 'object':
            columns_NA_fill[columns] = df[columns].mode()[0]
            continue
        print ('{} is not found dtypes'.format(dtypes))
    return columns_NA_fill

In [86]:
datasets = [bureau,bureau_balance,credit_card_balance,installments_payments,POS_CASH_balance,previous_application]

In [87]:
for ds in datasets:
    miss_ratio = miss_ratio_dict(ds)
    #print (miss_ratio)
    drop_columns = list()
    for column in ds.columns:
        if miss_ratio[column] > 0:
            drop_columns.append(column)
    print (drop_columns)
    ds.drop(drop_columns, axis=1, inplace=True)

['DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_ANNUITY']
[]
['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']
['DAYS_ENTRY_PAYMENT', 'AMT_PAYMENT']
['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE']
['AMT_ANNUITY', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE', 'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'NAME_TYPE_SUITE', 'CNT_PAYMENT', 'PRODUCT_COMBINATION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL']

In [88]:
for ds in datasets:
    fillna_values = fillna_values_dict(ds)
    print (fillna_values)
    ds.fillna(fillna_values, inplace=True)

OrderedDict([('SK_ID_CURR', 278214.9336447553), ('SK_ID_BUREAU', 5924434.489031873), ('CREDIT_ACTIVE', 'Closed'), ('CREDIT_CURRENCY', 'currency 1'), ('DAYS_CREDIT', -1142.107684680045), ('CREDIT_DAY_OVERDUE', 0.8181665645165425), ('CNT_CREDIT_PROLONG', 0.00641040579622332), ('AMT_CREDIT_SUM', 354994.59191768744), ('AMT_CREDIT_SUM_OVERDUE', 37.91275774165883), ('CREDIT_TYPE', 'Consumer credit'), ('DAYS_CREDIT_UPDATE', -593.7483197663986)])
OrderedDict([('SK_ID_BUREAU', 6036297.332973552), ('MONTHS_BALANCE', -30.74168665298531), ('STATUS', 'C')])
OrderedDict([('SK_ID_PREV', 1904503.589899727), ('SK_ID_CURR', 278324.20728888694), ('MONTHS_BALANCE', -34.52192061478338), ('AMT_BALANCE', 58300.15526185774), ('AMT_CREDIT_LIMIT_ACTUAL', 153807.95740033622), ('AMT_DRAWINGS_CURRENT', 7433.388179202412), ('AMT_PAYMENT_TOTAL_CURRENT', 7588.856739464025), ('AMT_RECEIVABLE_PRINCIPAL', 55965.87690549698), ('AMT_RECIVABLE', 58088.81117667372), ('AMT_TOTAL_RECEIVABLE', 58098.28548873722), ('CNT_DRAWINGS_CURRENT', 0.7031439112238798), ('NAME_CONTRACT_STATUS', 'Active'), ('SK_DPD', 9.283667316613858), ('SK_DPD_DEF', 0.3316220140446922)])
OrderedDict([('SK_ID_PREV', 1903364.9695492988), ('SK_ID_CURR', 278444.88173821557), ('NUM_INSTALMENT_VERSION', 0.8566373016127933), ('NUM_INSTALMENT_NUMBER', 18.87089583026623), ('DAYS_INSTALMENT', -1042.2699916011295), ('AMT_INSTALMENT', 17050.906988963343)])
OrderedDict([('SK_ID_PREV', 1903216.5989568618), ('SK_ID_CURR', 278403.8633055631), ('MONTHS_BALANCE', -35.012587990550884), ('NAME_CONTRACT_STATUS', 'Active'), ('SK_DPD', 11.606928279139693), ('SK_DPD_DEF', 0.654468423188131)])
OrderedDict([('SK_ID_PREV', 1923089.1353305625), ('SK_ID_CURR', 278357.1740986484), ('NAME_CONTRACT_TYPE', 'Cash loans'), ('AMT_APPLICATION', 175233.86036042805), ('AMT_CREDIT', 196114.02121797804), ('WEEKDAY_APPR_PROCESS_START', 'TUESDAY'), ('HOUR_APPR_PROCESS_START', 12.484181667738385), ('FLAG_LAST_APPL_PER_CONTRACT', 'Y'), ('NFLAG_LAST_APPL_IN_DAY', 0.9964675185335532), ('NAME_CASH_LOAN_PURPOSE', 'XAP'), ('NAME_CONTRACT_STATUS', 'Approved'), ('DAYS_DECISION', -880.6796679946402), ('NAME_PAYMENT_TYPE', 'Cash through the bank'), ('CODE_REJECT_REASON', 'XAP'), ('NAME_CLIENT_TYPE', 'Repeater'), ('NAME_GOODS_CATEGORY', 'XNA'), ('NAME_PORTFOLIO', 'POS'), ('NAME_PRODUCT_TYPE', 'XNA'), ('CHANNEL_TYPE', 'Credit and cash offices'), ('SELLERPLACE_AREA', 313.95111524630977), ('NAME_SELLER_INDUSTRY', 'XNA'), ('NAME_YIELD_GROUP', 'XNA')])

### let's create some feature joining with main table