In [1]:
import pandas as pd
import numpy as np

In [10]:
application_test = pd.read_csv('../application_test.csv')
application_train  = pd.read_csv('../application_train.csv')
bureau = pd.read_csv('../bureau.csv')
bureau_balance = pd.read_csv('../bureau_balance.csv')
credit_card_balance = pd.read_csv('../credit_card_balance.csv')
installments_payments = pd.read_csv('../installments_payments.csv')
POS_CASH_balance = pd.read_csv('../POS_CASH_balance.csv')
previous_application = pd.read_csv('../previous_application.csv')

In [19]:
print ('the count of {} is {},approximately {} thousands'.format('application_test',application_test.shape[0],application_test.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('application_train',application_train.shape[0],application_train.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('bureau',bureau.shape[0],bureau.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('bureau_balance',bureau_balance.shape[0],bureau_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('credit_card_balance',credit_card_balance.shape[0],credit_card_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('installments_payments',installments_payments.shape[0],installments_payments.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('POS_CASH_balance',POS_CASH_balance.shape[0],POS_CASH_balance.shape[0]/1000))
print ('the count of {} is {},approximately {} thousands'.format('previous_application',previous_application.shape[0],previous_application.shape[0]/1000))

the count of application_test is 48744,approximately 48.744 thousands
the count of application_train is 307511,approximately 307.511 thousands
the count of bureau is 1716428,approximately 1716.428 thousands
the count of bureau_balance is 27299925,approximately 27299.925 thousands
the count of credit_card_balance is 3840312,approximately 3840.312 thousands
the count of installments_payments is 13605401,approximately 13605.401 thousands
the count of POS_CASH_balance is 10001358,approximately 10001.358 thousands
the count of previous_application is 1670214,approximately 1670.214 thousands

### remain the meta data for train and test

In [24]:
train_target_sequence = application_train[['SK_ID_CURR','TARGET']]
test_sequence = application_test['SK_ID_CURR']
application_train = application_train.drop(['TARGET'], axis=1)

In [25]:
application_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### put the test and train together

In [27]:
application_all = application_train.append(application_test)
print ('all dataset counts is {}'.format(application_all.shape[0]))

all dataset counts is 356255

In [28]:
application_bureau = pd.merge(left=application_all, right=bureau, on='SK_ID_CURR', how='left')

In [29]:
application_bureau.shape

(1766872, 137)

In [31]:
bureau.head(50)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.50,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.00,0,180000.000,71017.380,108982.620,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.00,0,42103.800,42103.800,0.000,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.00,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.00,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.00,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.00,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.00,0,7033500.000,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.00,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.00,0,107184.060,0.000,0.000,0.0,Consumer credit,-71,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.00,0,252000.000,23679.000,228320.100,0.0,Credit card,-22,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.00,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.50,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.27,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.00,0,3709552.500,NaN,NaN,0.0,Car loan,-32,NaN
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.00,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.00,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN
30,426155,5714501,Closed,currency 1,-529,0,-343.0,-343.0,0.00,0,182791.440,0.000,0.000,0.0,Consumer credit,-337,NaN
31,136226,5714502,Active,currency 1,-521,0,551.0,NaN,NaN,0,112500.000,0.000,0.000,0.0,Credit card,-30,NaN
32,136226,5714503,Closed,currency 1,-559,0,NaN,-355.0,0.00,0,110250.000,0.000,0.000,0.0,Credit card,-351,NaN
33,400486,5714504,Closed,currency 1,-2413,0,-1864.0,-2128.0,NaN,0,180000.000,0.000,0.000,0.0,Consumer credit,-708,NaN
34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.000,0.000,0.000,0.0,Credit card,-15,NaN
35,400486,5714507,Closed,currency 1,-1110,0,-745.0,-727.0,NaN,0,114727.500,0.000,0.000,0.0,Consumer credit,-658,NaN
36,400486,5714508,Closed,currency 1,-2133,0,-1038.0,-1127.0,NaN,0,225000.000,0.000,0.000,0.0,Consumer credit,-708,NaN
37,400486,5714509,Active,currency 1,-391,0,705.0,NaN,NaN,0,142290.000,108315.000,0.000,0.0,Consumer credit,-30,NaN
38,435112,5714512,Closed,currency 1,-1412,0,-861.0,-849.0,NaN,0,85288.500,0.000,0.000,0.0,Consumer credit,-753,NaN
39,435112,5714513,Closed,currency 1,-1590,0,-1344.0,-1276.0,NaN,0,100129.500,0.000,0.000,0.0,Consumer credit,-783,NaN
40,435112,5714514,Closed,currency 1,-1181,0,-875.0,-872.0,NaN,0,44419.500,0.000,0.000,0.0,Consumer credit,-872,NaN
41,435112,5714516,Closed,currency 1,-1475,0,-1293.0,-1322.0,NaN,0,21690.000,0.000,NaN,0.0,Consumer credit,-1322,NaN
42,435112,5714517,Closed,currency 1,-1411,0,-861.0,-861.0,NaN,0,85293.000,0.000,NaN,0.0,Consumer credit,-855,NaN
43,435112,5714518,Active,currency 1,-1483,0,NaN,NaN,NaN,0,200250.000,0.000,NaN,0.0,Credit card,-848,NaN
44,435112,5714519,Closed,currency 1,-1589,0,-1344.0,-1292.0,3980.52,0,100129.500,0.000,0.000,0.0,Consumer credit,-736,NaN
45,435112,5714520,Closed,currency 1,-829,0,-508.0,-508.0,0.00,0,159386.085,0.000,0.000,0.0,Consumer credit,-508,NaN
46,435112,5714521,Closed,currency 1,-739,0,-525.0,-525.0,0.00,0,48645.000,0.000,0.000,0.0,Consumer credit,-519,NaN
47,435112,5714522,Active,currency 1,-508,0,1318.0,NaN,0.00,0,1058823.540,858768.570,0.000,0.0,Consumer credit,-7,NaN
48,435112,5714523,Active,currency 1,-416,0,680.0,NaN,0.00,0,256500.000,183528.000,0.000,0.0,Consumer credit,-43,NaN
49,452585,5714524,Closed,currency 1,-2642,0,-2307.0,-2332.0,1800.00,0,15921.000,0.000,0.000,0.0,Consumer credit,-2306,NaN

In [32]:
bureau_balance.head(50)

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X
27       5715449               0      C
28       5715449              -1      C
29       5715449              -2      C
30       5715449              -3      C
31       5715449              -4      C
32       5715449              -5      C
33       5715449              -6      0
34       5715449              -7      0
35       5715449              -8      0
36       5715449              -9      0
37       5715449             -10      0
38       5715449             -11      X
39       5715451              -5      C
40       5715451              -6      C
41       5715451              -7      C
42       5715451              -8      C
43       5715451              -9      C
44       5715451             -10      0
45       5715451             -11      0
46       5715451             -12      0
47       5715451             -13      0
48       5715451             -14      0
49       5715451             -15      0

In [34]:
POS_CASH_balance.head(50).sort_values(by='SK_ID_CURR')

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
31,1463929,108990,-41,12.0,12.0,Active,0,0
35,2701303,109846,-33,18.0,12.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
37,1519906,122077,-39,24.0,11.0,Active,0,0
32,2504959,122511,-34,36.0,35.0,Active,0,0
14,1711625,131467,-34,12.0,5.0,Active,0,0
26,1059679,139637,-31,12.0,12.0,Active,0,0
13,1627166,146161,-33,24.0,24.0,Active,0,0
33,1873885,148915,-31,24.0,23.0,Active,0,0
19,2645133,152810,-35,24.0,23.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
44,1891208,164877,-34,48.0,42.0,Active,0,0
21,1366811,169489,-38,24.0,24.0,Active,0,0
0,1803195,182943,-31,48.0,45.0,Active,0,0
20,1381005,195362,-34,60.0,56.0,Active,0,0
27,1865970,202091,-35,12.0,7.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
15,2374177,204722,-35,24.0,15.0,Active,0,0
42,1298869,210084,-41,48.0,0.0,Completed,0,0
23,1445556,220181,-41,12.0,12.0,Active,0,0
34,1050971,220814,-33,18.0,12.0,Active,0,0
40,2397883,223795,-31,12.0,7.0,Active,0,0
11,2023570,237959,-39,12.0,12.0,Active,0,0
22,1260621,244684,-32,18.0,12.0,Active,0,0
46,1894403,266542,-37,48.0,40.0,Active,0,0
38,2465534,266721,-35,18.0,17.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0
12,1258390,278261,-32,36.0,36.0,Active,0,0
10,2328294,287361,-32,12.0,12.0,Active,0,0
18,1911764,312551,-32,24.0,16.0,Active,0,0
36,2246356,331357,-35,36.0,35.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
30,2090361,336201,-35,12.0,12.0,Active,0,0
25,2631694,337149,-33,12.0,11.0,Active,0,0
41,1010305,338532,-39,24.0,21.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
49,1799734,344436,-32,48.0,46.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
45,1443121,370945,-33,24.0,24.0,Active,0,0
17,1846127,380050,-31,36.0,28.0,Active,0,0
24,1420240,386836,-41,12.0,11.0,Active,0,0
47,2027470,391768,-41,48.0,40.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
16,1716688,405549,-33,12.0,1.0,Active,0,0
43,1557122,420239,-38,24.0,4.0,Active,0,0
48,2294245,426454,-38,12.0,5.0,Active,0,0
29,2759941,428330,-32,18.0,18.0,Active,0,0
39,2833264,429694,-37,60.0,46.0,Active,0,0
28,2683316,454237,-32,18.0,15.0,Active,0,0